nav {
    min-width: 360px; 
}

h1, nav a {
    font-family: 'Roboto Slab', monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#score-time, #question-article {
    display: none;
}

#score-time p {
    margin: 0;
}

#question-form div {
    width: 100%;
    min-width: 300px;
}

pre {
    font-size: medium;
}

@media (hover: none) {
    .btn:hover {
        background-color: inherit;
    }
}